* {
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 1519px
}

.right_jian {
    position: absolute;
    z-index: 9;
    top: 200px !important;
    width: 50px !important;
    height: 50px !important;
    cursor: pointer !important;
    opacity: 80 !important;
    border-radius: 500px !important;
    background-color: #E2C199;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 24px !important;
}

.banner {
    width: 100%;
    height: 420px;
    background: #f5f5f5;
}

.banner_main {
    width: 1519px;
    height: 420px;
    margin: 0 auto
}

/* <!-- 玩转众筹 --> */
.play {
    background: #fff;
    height: 80px;
    padding: 8px 0;
    text-align: center;
    font-size: 0;
}

.play_main {
    position: relative;
    font-size: 20px;
    white-space: nowrap;
    width: 1090px;
    margin: 0 auto;

}

.play_main_pic {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #B4A078;
    letter-spacing: 0;
    line-height: 32px;
    margin-right: 28px;
}

.play_main_ul {
    height: 60px;
    display: inline-block;
    list-style: none;
}

.play_main_ul li {
    display: inline-block;
    height: 100%;
    width: 264px;
    border-left: 1px solid #eaeaea;
}

.play_main_ul li img {
    display: inline-block;
    vertical-align: middle;
}

.reaise {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f4f4f4;

}

.reaise_main {
    padding: 40px 0;
    width: 1090px;
    margin: 0 auto;
    ;
}

.reasise_main_tit {
    position: relative;
    width: 461px;
    margin: 0 auto 10px;
    height: 28px;
    background: #f4f4f4;

}

.reaise_main_tit_main {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #ccc
}

.content_tit {
    position: absolute;
    width: 221px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -110px;
    font-size: 0;
    text-align: center;
    background: #f4f4f4;

}

.content_tit img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.nameA {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 28px;
    color: #333;
    letter-spacing: 1px;
    line-height: 28px;
}

.reasise_main_ul {
    list-style: none;
    margin-right: -10px;
    width: 100%;
    overflow: hidden;
}
.reasise_main_ul li:nth-child(2n+1){
    margin-left: 0px
}

.reasise_main_ulli {
    float: left;
    margin-top: 20px;
    width: 535px;
    height: 220px;
    background: #fff;
    cursor: pointer;
    margin-left: 20px
}

.reasise_left {
    position: relative;
    float: left;
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.reasise_left img {
    transition: transform 1s;
    width: 100%;
}

.reasise_left img:hover {
    transform: scale(1.1)
}

.reasise_rig {
    float: left;
    padding-left: 15px;
    width: 300px;
}

.uname {
    font-size: 20px !important;
    color: #333;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 24px;
}

.iname {
    font-size: 14px;
    color: #999;

    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
}

.name_con {
    position: relative;
    width: 300px;
    background-color: transparent;
    padding: 0
}

.name_con_A {
    margin-top: 38px;
}

.name_con_a_main {
    width: 220px;
    height: 2px;
    background-color: #F4F4F4;
    border-radius: 2px;
    position: relative;
}

.data {
    width: 33.3%;
    height: 2px;
    background-color: #B4A078;

    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.zongti {
    position: absolute;
    color:
        #B4A078;
    font-size: 16px;
    line-height: 16px;
    top: -7px;
    left: 226px;
}

.zongtia {
    color:
        #B4A078;
    font-size: 16px;
    line-height: 16px;
}

.data_ul {
    margin-top: 37px;
    overflow: hidden;
    list-style: none
}

.data_ul li {
    width: 95px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    text-align: center;
}

.data_ul_p {
    line-height: 1;
    font-size: 14px;
    color: #333;

}

.yiraise {
    margin-top: 10px;
    color: #999;
    font-size: 14px;
    line-height: 1;
}
.xian{
    border-left: 1px solid #eaeaea;
}
.uname:hover{
    color: #b4a078;
}
.reasise_main_ulA {
    list-style: none;
    margin-right: -10px;
    width: 100%;
    overflow: hidden;
}
.reasise_main_ulA li:nth-child(2n+1){
    margin-left: 0px
}

.reasise_main_ulliA {
    float: left;
    margin-top: 20px;
    width: 535px;
    height: 220px;
    background: #fff;
    cursor: pointer;
    margin-left: 20px
}
.yiraiseA{
    float: left;
font-size: 18px;
color:
#2BAB52;
letter-spacing: 0;
line-height: 18px;
}
.sussec{
    margin-top: 62px;
overflow: hidden;
}
.success_A{
    float: right;
margin: 2px 10px 0 0;
font-size: 14px;
color:
#999;
letter-spacing: 0;
line-height: 14px;
}
.price{
    margin-left: 8px;
color:
    #333;
}
